body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

dd {
    margin: 0;
}


/* header */

.header {
    position: relative;
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: purple;
}

.header-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 980px;
    font-family: '宋体';
    padding-bottom: 5px;
/*     background-color: pink; */
}

.nav {
    float: right;
}

.nav::before, .nav::after {
    content: "";
    display: table;
}

.nav::after {
    clear: both;
}

.nav a {
    margin-left: 28px;
    color: #fff
}

.header-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}

.header-icon img {
    display: block;
}

/* banner */

.banner {
    position: relative;
}

.banner-bg {
    width: 100%;
    display: block;
}

.banner-para {
    position: absolute;
    bottom: 0;
    left: 60%;
    right: 10.5%;
    padding: 10px 10px 30px;
    color: #fff;
    text-align: justify;
    background: -webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,.3) 75%, rgba(255,255,255,0));
}

.para-title {
    right: 0;
    font-size: 14px;
    margin: 0 0 12px;
    text-align: end;
}

.para-text {
    font-size: 12px;
    line-height: 1.5;
    text-indent: 2em;
}

/* content */
.content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: #fff;
}

.content img {
    width: 300px;
    height: 180px;
    background-color: pink;
    margin-top: 10px;
}

.content p {
    font-size: 12px;
    line-height: 1.7;
    margin: 15px 30px 25px;
}

.content .item-2 {
    margin: 0 10px;
}

/* introduce */
.container {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-top: 100px;
}

.introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic {
    height: 160px;
    width: 160px;
    border-radius: 80px; 
    margin: -50px auto 50px;
}

.intro-title {
    font-size: 20px;
    font-family: 'Century Gothic';
    color: #000;
    margin-bottom: 40px;
}

.intro-text {
    font-size: 14px;
    color: #000;
    width: 600px;
    text-indent: 2em;
}

/* footer */
.footer {
    width: 100%;
    font-size: 14px;
    background-color: #000;
    color: #fff;
}
.footer-nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333;
}

.footer-nav a {
    color: #fff;
    padding: 5px 16px;
}

.footer-lists {
    display: flex;
    justify-content: space-around;
}

[class^=list-] dt {
margin-bottom: 25px;
}

[class^=list-] a {
    color: #fff;
}

.hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.copyright img {
    display: block;
    margin-top: 20px;
}